body {
  overflow-x: hidden;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 300;
  margin: 0;
}
p {
  font-size: 18px;
  line-height: 1.4em;
  font-style: italic;
  margin: 0 0 25px;
}
textarea {
  resize: none;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0;
  color: #018e13;
}
section {
  padding: 40px 15px;
}
button[type='submit'] {
  margin-top: 20px;
  background-color: #aaa;
}

header {
  text-align: center;
  color: #fff;
  background: url(../img/top-img.jpg);
  background-size: cover;
  text-shadow: 0 0 15px black;
  padding: 50px 0;
}
header .intro-text .name {
  display: block;
  font-size: 2em;
}
header .intro-text .skills {
  font-size: 1.25em;
  font-style: italic;
}
footer {
  color: #fff;
  background-color: #101010;
  font-size: 14px;
  padding: 20px 0;
}

::selection {
  background: #018e13;
  color: #fff;
}
::-moz-selection {
  background: #018e13;
  color: #fff;
}

.center {
  text-align: center;
}
.list-inline {
  list-style-type: none;
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px #fff;
  font-size: 20px;
  color: #fff;
  background: 0 0;
  transition: all 0.3s ease-in-out;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  border: solid 2px #fff;
  color: #018e13;
  background: #fff;
}
.btn-social {
  display: inline-block;
}
.btn-social:first-child {
  margin-right: 20px;
}
.btn-social svg {
  width: 50px;
  height: 50px;
  fill: #fff;
  stroke: #fff;
  transition: 0.2s;
}
.btn-social:hover svg {
  fill: #018e13;
  stroke: #018e13;
}
.btn:focus,
.btn:active,
.btn.active {
  outline: 0;
}

.about-section {
  color: white;
  background: #333;
}
.about-section h2 {
  margin: 0 0 40px 0;
}
.portfolio-item {
  padding: 10px;
}
.portfolio-item a {
  border: 1px solid silver;
}
.portfolio-item .portfolio-link {
  display: block;
  position: relative;
  margin: 20px auto 0 auto;
  max-width: 400px;
}
.portfolio-link.double {
  max-width: 800px;
}
.caption {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #018e13;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
}
.caption:hover {
  opacity: 1;
}
.caption .caption-content {
  position: absolute;
  top: 40%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  font-size: 20px;
  color: #fff;
}
.caption .caption-content.small-content {
  top: 32%;
}
.caption .caption-content i {
  margin-top: -12px;
}
.caption .caption-content h3,
.caption .caption-content h4 {
  margin: 0;
}
.portfolio-section {
  background-color: #e8e8e8;
}
.portfolio-section h2 {
  margin: 10px 0 40px 0;
}

.section-subheading {
  margin-bottom: 25px;
}
.alert.alert-success {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: #505050;
}

#contact h2 {
  margin: 10px 0 30px 0;
}
#contact {
  color: white;
  text-shadow: 0 0 15px black;
  background: url(../img/bottom-img.jpg);
  background-size: cover;
}
#name,
#email,
#phone {
  height: 50px;
  padding-left: 12px;
}
#message {
  height: 150px;
}

@media (max-width: 767px) {
  .caption-content p,
  .caption-content.small-content small {
    font-size: 75%;
  }
  .caption-content.small-content small {
    font-size: 55%;
  }
}
@media (min-width: 768px) {
  header .container {
    padding-top: 120px;
    padding-bottom: 100px;
  }
  header .intro-text .name {
    font-size: 3.75em;
  }
  header .intro-text .skills {
    font-size: 1.75em;
  }
  .about-section {
    width: 300px;
    float: left;
  }
  .portfolio-section,
  .contact-section {
    width: calc(100% - 300px);
    float: right;
    clear: right;
  }
  footer {
    clear: both;
  }
}
